<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security" 
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/administrador/**" access="ROLE_ADMINISTRADOR"/>
		<intercept-url pattern="/restrito/**" access="ROLE_USUARIO_MERCADO"/>
		
		<form-login login-page="/publico/login.jsf"
					always-use-default-target="true"
					default-target-url="/index.jsf"
					authentication-failure-url="/publico/login.jsf?login_error=1"/>
		
		<logout/>
		<remember-me/>
	</http>
	
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="vendasDataSource"
			      			   authorities-by-username-query="SELECT bc.nome, bcp.permissao
 			      			   								  FROM  BCHATMKT001_USER_DS bc, BCHATMKT001_USER_PERMISSION_DS bcp 
 			      			   								  WHERE bc.id = bcp.usuario AND bc.nome = ?" 
			      			   users-by-username-query="SELECT bc.nome, bc.senha, bc.ativo
			      			   								  FROM BCHATMKT001_USER_DS bc WHERE bc.nome = ?"/>
		</authentication-provider>
	</authentication-manager>
</beans:beans>